.form-consulta {
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
}

label {
  margin: 0.2rem 0;
  font-weight: 500;
  color: rgb(221, 221, 221);
  display: block;
}

.title {
  color: #545454;
  font-weight: 500;
  font-size: 1.5rem;
}
@media (min-width: 1000px) {
  .form-consulta {
    width: 500px;
  }
}
